<%= turbo_frame_tag "remote_modal" do %>
    <div id="defaultModal" data-controller="events" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full items-start">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <%= form_with(model: event, class: "contents") do |form| %>
                    <!-- Modal header -->
                    <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                        <h3 data-events-target="title" class="text-xl font-semibold text-gray-900 dark:text-white">
                            New Event
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                <!-- Modal body -->
                    <div class="pr-6 pl-6 space-y-6 mb-6">
                        <% if event.errors.any? %>
                        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
                            <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
                    
                            <ul>
                            <% event.errors.each do |error| %>
                                <li><%= error.full_message %></li>
                            <% end %>
                            </ul>
                        </div>
                        <% end %>
                        
                        <div class="my-5">
                            <%= form.label :name, data: { events_target: "reason" } %>
                            <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                        </div>

                        <div class="my-5">
                            <%= form.label :note %>
                            <%= form.text_area :note, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                        </div>

                        <div class="my-5">
                            <%= form.label :level %>
                            <%= form.select( :level, options_for_select(Event.levels.collect{ |u| [u[0], u[1]]}), {}, {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"}) %>
                        </div>

                        <div class="my-5">
                            <%= form.label :start_time %>
                            <%= form.date_field :start_time, data: {events_target: "start"}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                        </div>
                    
                        <div class="my-5">
                            <%= form.label :end_time %>
                            <%= form.date_field :end_time, data: {events_target: "end"}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                        </div>
                    
                    </div>
                    <!-- Modal footer -->
                    <div class="flex items-center justify-between p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                        <div class="flex items-center">
                            <input id="leave-checkbox" name="event[is_leave]" value="0" data-action="click->events#leave" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="leave-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Leave?</label>
                        </div>
                        <div>
                            <%= form.submit "Create", data: { modal_toggle: "defaultModal" }, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
                            <button data-modal-toggle="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>