<div data-popover id="popover-default-<%=date%>" role="tooltip" class="inline-block absolute invisible z-10 text-sm font-light text-gray-500 bg-white rounded-lg border border-gray-200 shadow-sm opacity-0 transition-opacity duration-300 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
  <div class="py-2 px-8 bg-gray-100 rounded-t-lg border-b border-gray-200 dark:border-gray-600 dark:bg-gray-700">
    <h3 class="font-semibold text-gray-900 dark:text-white"><%= date %></h3>
    <div class="add absolute top-1 right-1" data-controller="events" data-action="events:move->event-modal#showDate">
      <svg class="w-6 h-6 cursor-pointer" data-modal-toggle="defaultModal" data-action="click->events#addEvent" data-events-url-param="<%= dashboard_path({ selectedDate: date }) %>" data-events-date-param="<%= date %>" 
        fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" 
        stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
      </svg>
    </div>
  </div>
  <div class="py-2 px-3">
      <ol class="p-2 list-decimal">
        <% events.each do |event| %>
          <li class="text-left">
            <p class="flex">
              <%= event.name.capitalize %>
              <% if event.note.present? %>
                <span>&nbsp;:&nbsp;</span>
              <% end %>
              <%= event.note %>
            </p>
          </li>
        <% end %>
      </ol>
  </div>
  <div data-popper-arrow></div>
</div>