<!DOCTYPE html>
<html>
  <head>
    <title>Schedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "layouts/shared/nav" %>
    <div id="toastMessage">
      <%#= render partial: "shared/toast", locals: {title: "helo", message: "note", type: 'error'} %>
    </div>
    <%= render 'shared/notices' %>
    <main class="container mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
